/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variables */
:root {
  --orange-color: #cc4d02;
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-color: #f2f2f2;
  --grey2-color: #808080;
  --red-color: #ff0000;
  --blue-color: #170453;
  --black-border: solid 1px #000000;
  --grey-border: solid 2px #f2f2f2;
  font-size: 12px;
}

/* Estilos iniciales generales */
* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--black-color);
  background-color: var(--white-color);
  font-size: 1.2rem;
}

/* Anchura mínima */
/* Dispositivos de pantalla pequeña */
@media screen and (max-width: 374px) {
  body {
    min-width: 350px;
  }
}

/* Dispositivos de pantalla mediana */
@media screen and (min-width: 375px) and (max-width: 767px) {
  body {
    min-width: 375px;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  body {
    min-width: 768px;
  }
}

/* Estilos generales */
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 2.5rem;
}

h3,
#categorias,
#buscador,
#pais,
option,
.menu-cabecera-grande a,
.menu-cabecera-pequeña a,
.menu-categorias a,
.mensaje-cabecera * {
  font-size: 1.5rem;
}

.info-pie h2 {
  font-size: 1.5rem;
}

.menu-pie h2 {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

/* Ocultación de elementos */
.oculto {
  display: none;
}

/* Menú categorías */
/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 1199px) {
  .menu-categorias {
    display: none;
  }
}

/* Banner cabecera */
/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 767px) {
  .grande {
    display: none;
  }

  .pequeña {
    display: block;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .grande {
    display: block;
  }

  .pequeña {
    display: none;
  }
}

/* Descarga app */
/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 1199px) {
  .qr {
    display: none;
  }
}

/* Fondos */
.cabecera,
.menu-categorias > ul {
  background-color: var(--white-color);
}

.menu-cabecera-grande > li:hover,
.menu-cabecera-grande > li:hover a,
.menu-cabecera-pequeña > li:hover,
.menu-cabecera-pequeña > li:hover a,
.menu-cabecera-pequeña > li:hover img,
.menu-categorias > ul > li:hover,
.menu-categorias > ul > li:hover a,
.replay,
.menu-pie-lista li:hover,
.menu-pie-lista li:hover a,
.menu-pie-acordeon h2:hover,
.menu-pie-acordeon h2:hover a {
  background-color: var(--grey-color);
}

.recomendamos {
  background-color: var(--blue-color);
}

.trending {
  background-color: var(--orange-color);
}

.info-recomendamos,
.info-trending {
  background-color: var(--white-color);
}

/* Negritas */
.mensaje-cabecera span,
.botonera div,
.recomendamos,
.trending,
.precio,
.expertos div,
.categorias div,
.cliente div,
footer span {
  font-weight: bold;
}

/* Paddings */
/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 767px) {
  .cabecera,
  .menu-categorias,
  .mensaje-cabecera,
  .banner,
  .botonera,
  .replay {
    padding: 0 2rem;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .cabecera,
  .menu-categorias,
  .mensaje-cabecera,
  .banner,
  .botonera,
  .replay {
    padding: 0 5rem;
  }
}

.cabecera > *,
.mensaje-cabecera > * {
  padding: 2rem;
}

.cabecera > a,
.mensaje-cabecera > p {
  padding-left: 0;
}

.cabecera > nav {
  padding-right: 0;
}

.menu-cabecera-grande > li,
.menu-cabecera-pequeña > li {
  padding: 1rem 0.5rem;
}

.menu-cabecera-pequeña img {
  width: 1.5rem;
}

.menu-categorias > ul > li {
  padding: 2rem;
}

/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 767px) {
  section {
    padding: 4rem 2rem;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  section {
    padding: 4rem 5rem;
  }
}

section > h2 {
  padding-bottom: 2rem;
}

/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 767px) {
  footer > * {
    padding: 2rem 2rem;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  footer > * {
    padding: 2rem 5rem;
  }
}

footer h2,
footer p,
footer li {
  padding-bottom: 1rem;
}

/* Filos horizontales */
.menu-categorias,
footer > *,
.menu-pie-acordeon > h2 {
  border-bottom: var(--grey-border);
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 1200px) {
  .cabecera {
    border-bottom: var(--grey-border);
  }
}

/* Bordes redondeados */
.banner img,
.botonera img,
.expertos img,
.categorias img,
.marcas img,
.cliente img,
.blog li {
  border-radius: 1.5rem;
}

/* Logo */
/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 1199px) {
  .cabecera > a > img {
    width: 6rem;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 1200px) {
  .cabecera > a > img {
    width: 11.5rem;
  }
}

/* Formulario cabecera */
/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 1199px) {
  .cabecera > form {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 1200px) {
  .cabecera > form {
    width: 50%;
  }
}

fieldset.container {
  gap: 0;
}

/* Desplegables */
#categorias:hover,
#categorias:focus,
#pais:hover,
#pais:focus {
  outline: none;
  border: var(--black-border);
}

#categorias,
#pais {
  cursor: pointer;
}

/* Buscador */
.buscador:hover,
.buscador:focus {
  border: var(--black-border);
}

#buscador:hover,
#buscador:focus {
  outline: none;
}

.buscador:has(#buscador:focus) {
  border: var(--black-border);
}

/* Elementos de formulario */
#categorias,
.buscador,
#pais {
  border: var(--grey-border);
  padding: 1rem;
  height: 4rem;
}

#categorias,
.buscador,
#buscador,
#pais,
#categorias > option,
#pais > option {
  color: var(--grey2-color);
}

.buscador {
  width: 75%;
}

#buscador {
  width: 100%;
}

/* Menú usuario */
.cabecera > nav {
  width: 35%;
}

/* Cabecera fija */
.fix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.mensaje-cabecera {
  margin-top: 15rem;
}

/* Iconos */
.lupa {
  width: 1.5rem;
}

.before > a::before,
.recomendamos::before,
.trending::before,
.android::before,
.mac::before {
  display: inline-block;
  background-size: 1.7rem 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  content: '';
  padding-left: 1rem;
  background-repeat: no-repeat;
}

.compromisos > a::before,
.login > a::before,
.carrito > a::before {
  background-size: 1.5rem 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.compromisos > a::before {
  background-image: url(assets/images/estrella.png);
}

.login > a::before {
  background-image: url(assets/images/user.png);
}

.carrito > a::before {
  background-image: url(assets/images/carrito.png);
}

.hamburguesa > a::before,
.recomendamos::before,
.trending::before {
  background-size: 1.2rem 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
}

.hamburguesa > a::before {
  background-image: url(assets/images/menu.png);
}

.recomendamos::before,
.trending::before {
  background-image: url(assets/images/info.png);
  padding-left: 0.5rem;
  filter: invert(100%);
}

.blog > a::before {
  background-image: url(assets/images/pccomp.png);
}

.instagram > a::before {
  background-image: url(assets/images/instagram.png);
}

.twitter > a::before {
  background-image: url(assets/images/twitter.png);
}

.facebook > a::before {
  background-image: url(assets/images/facebook.png);
}

.telegram > a::before {
  background-image: url(assets/images/telegram.png);
}

.youtube > a::before {
  background-image: url(assets/images/youtube.png);
}

.tiktok > a::before {
  background-image: url(assets/images/tiktok.png);
}

.twitch > a::before {
  background-image: url(assets/images/twitch.png);
}

.android::before {
  background-image: url(assets/images/android.png);
}

.mac::before {
  background-image: url(assets/images/mac.png);
}

.after a::after {
  background-image: url(assets/images/mas.png);
  background-size: 1.5rem 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  background-repeat: no-repeat;
  float: right;
}

/* Botonera cabecera */
.botonera {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Dispositivos de pantalla pequeña */
@media screen and (max-width: 374px) {
  .botonera li {
    width: 45%;
  }
}

/* Dispositivos de pantalla mediana */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .botonera li {
    width: 30%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .botonera li {
    width: 15%;
  }
}

.botonera div {
  padding: 1.5rem;
}

/* Servicios */
.servicios {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Dispositivos de pantalla pequeña */
@media screen and (max-width: 374px) {
  .servicios li {
    width: 45%;
  }
}

/* Dispositivos de pantalla mediana */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .servicios li {
    width: 20%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .servicios li {
    width: 9%;
  }
}

.servicios div {
  padding: 1.5rem;
}

/* Banner reacondicionados */
.replay {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Productos vendidos */
/* Dispositivos de pantalla pequeña */
@media screen and (max-width: 374px) {
  .vendidos > li {
    width: 45%;
  }
}

/* Dispositivos de pantalla mediana */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .vendidos > li {
    width: 30%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .vendidos > li {
    width: 15%;
  }
}

.producto {
  position: relative;
}

.recomendamos,
.trending {
  position: absolute;
}

/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 767px) {
  .recomendamos {
    bottom: 12rem;
  }

  .trending {
    bottom: 9rem;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .recomendamos {
    bottom: 11rem;
  }

  .trending {
    bottom: 8rem;
  }
}

.recomendamos,
.trending {
  padding: 0.5rem;
  color: var(--white-color);
  border-radius: 0.5rem;
}

.precio {
  font-size: 2rem;
}

.info-recomendamos,
.info-trending {
  position: absolute;
  display: none;
  left: 0;
  border: var(--grey-border);
  padding: 1rem;
  width: 100%;
  color: var(--grey2-color);
  text-align: left;
  z-index: 1;
}

/* Dispositivos de pantalla pequeña */
@media screen and (max-width: 374px) {
  .info-recomendamos {
    bottom: -8.5rem;
  }

  .info-trending {
    bottom: -7rem;
  }
}

/* Dispositivos de pantalla mediana */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .info-recomendamos {
    bottom: -2.5rem;
  }

  .info-trending {
    bottom: -4rem;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .info-recomendamos {
    bottom: -1rem;
  }

  .info-trending {
    bottom: -1rem;
  }
}

.recomendamos:hover + .info-recomendamos,
.trending:hover + .info-trending {
  display: block;
}

/* Tecnología */
.tecnologia > h2 {
  padding-bottom: 1rem;
}

.tecnologia > p {
  padding-bottom: 2rem;
}

.expertos {
  padding-bottom: 2rem;
}

/* Dispositivos de pantalla pequeña */
@media screen and (max-width: 374px) {
  .expertos li {
    width: 45%;
  }
}

/* Dispositivos de pantalla mediana */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .expertos li {
    width: 30%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .expertos li {
    width: 18%;
  }
}

.expertos div {
  padding: 1.5rem;
}

/* Categorías */
.categorias {
  padding-bottom: 2rem;
}

/* Dispositivos de pantalla pequeña */
@media screen and (max-width: 374px) {
  .categorias li {
    width: 45%;
  }
}

/* Dispositivos de pantalla mediana */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .categorias li {
    width: 30%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .categorias li {
    width: 15%;
  }
}

.categorias div {
  padding: 1.5rem;
}

/* Carrusel marcas */
.carrusel-marcas {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Dispositivos de pantalla pequeña */
@media screen and (max-width: 374px) {
  .carrusel-marcas li {
    width: 45%;
  }
}

/* Dispositivos de pantalla mediana */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .carrusel-marcas li {
    width: 30%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .carrusel-marcas li {
    width: 15%;
  }
}

/* Marcas */
.marcas {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 767px) {
  .marcas li {
    width: 45%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .marcas li {
    width: 22.5%;
  }
}

/* Cliente */
.cliente {
  padding-bottom: 2rem;
}

/* Dispositivos de pantalla pequeña */
@media screen and (max-width: 374px) {
  .cliente li {
    width: 45%;
  }
}

/* Dispositivos de pantalla mediana */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .cliente li {
    width: 30%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .cliente li {
    width: 18%;
  }
}

.cliente div {
  padding: 1.5rem;
}

/* Blog */
.blog {
  padding-bottom: 2rem;
}

/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 767px) {
  .blog li {
    width: 100%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .blog li {
    width: 30%;
  }
}

.blog li {
  overflow: hidden;
}

.blog a {
  position: relative;
}

.blog div {
  position: absolute;
  left: 5%;
  bottom: 0;
  padding: 1rem 3rem;
  width: 90%;
  height: 5rem;
  border-radius: 1rem;
  z-index: 1;
}

/* Dispositivos de pantalla pequeña */
@media screen and (max-width: 374px) {
  .blog div > h3 {
    font-size: 1.1rem;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .blog div > h3 {
    font-size: 1.3rem;
  }
}

.blog img {
  object-fit: cover;
  height: 100%;
  transition: transform 1s;
}

.blog img:hover,
.blog div:hover + img {
  transform: scale(1.1);
}

/* Texto pie */
.info-pie a {
  text-decoration: underline;
}

.info-pie a:hover {
  color: var(--red-color);
}

.info-pie li {
  list-style-type: inherit;
}

/* Menú pie */
.menu-pie h2 {
  padding-left: 0.5rem;
  padding-bottom: 2rem;
  text-align: left;
}

.menu-pie-lista {
  width: 15%;
}

.menu-pie-lista li {
  padding: 1rem 0.5rem;
}

.menu-pie-acordeon,
.menu-pie-acordeon * {
  width: 100%;
}

.menu-pie-acordeon > h2 {
  padding: 0;
}

.menu-pie-acordeon a {
  display: block;
  padding: 1rem;
}

/* Tarjetas crédito */
/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 1199px) {
  .tarjeta-app {
    width: 100%;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 1200px) {
  .tarjeta-app {
    width: 15%;
  }
}

.tarjeta-app > * {
  padding-left: 0.5rem;
}

.tarjeta,
.tarjeta form,
.tarjeta form select {
  width: 100%;
}

.tarjeta img {
  width: 8.5rem;
}

.tarjetas img {
  width: 4.5rem;
}

/* Descarga app */
.app a:hover {
  color: var(--red-color);
}

.app img {
  width: 11rem;
}

/* Copyright */
.copy {
  text-align: center;
}

/* Estilos responsive iniciales */
.flex {
  display: flex;
}

.container {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

/* Menú cabecera */
/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 1199px) {
  .menu-cabecera-grande {
    display: none;
  }

  .menu-cabecera-pequeña {
    display: flex;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 1200px) {
  .menu-cabecera-grande {
    display: flex;
  }

  .menu-cabecera-pequeña {
    display: none;
  }
}

/* Menú pie */
/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 1199px) {
  .menu-pie-lista {
    display: none;
  }

  .menu-pie-acordeon {
    display: flex;
    gap: 0;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 1200px) {
  .menu-pie-lista {
    display: block;
  }

  .menu-pie-acordeon {
    display: none;
  }
}

/* Estilos responsive */
.cabecera,
.buscador,
.menu-categorias > ul,
.botonera,
.servicios,
.vendidos,
.expertos,
.categorias,
.carrusel-marcas,
.marcas,
.cliente {
  justify-content: space-between;
}

/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 767px) {
  .blog {
    flex-direction: column;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 768px) {
  .blog {
    justify-content: space-between;
  }
}

.menu-cabecera-grande,
.menu-cabecera-pequeña {
  justify-content: right;
}

/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 1199px) {
  .menu-pie {
    flex-direction: column;
    align-items: start;
  }
}

/* Dispositivos de pantalla grande */
@media screen and (min-width: 1200px) {
  .menu-pie {
    justify-content: space-around;
  }
}

.botonera,
.servicios,
.expertos,
.categorias,
.cliente,
.menu-pie {
  align-items: baseline;
}

.producto,
.menu-pie-lista ul,
.menu-pie-acordeon,
.tarjeta-app,
.tarjeta,
.app {
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.recomendamos,
.trending {
  gap: 0;
}

/* Formulario cabecera */
/* Dispositivos de pantalla pequeña y mediana */
@media screen and (max-width: 1199px) {
  .cabecera {
    gap: 0;
    flex-wrap: wrap;
  }

  .cabecera > form {
    order: 1;
  }
}

.botonera,
.servicios,
.vendidos,
.expertos,
.categorias,
.carrusel-marcas,
.cliente,
.blog,
.marcas {
  flex-wrap: wrap;
}

.blog {
  align-items: stretch;
}
